@import url("./whitespace-reset.css");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One%7CRoboto+Condensed");

/* FIXME: this is a nightmare */
/* TODO: separate naming of colours from assignment/role */
/* define colors here; leave theme color choice to each statement */
:root {
  --color-primary: #07575b;
  --color-background-alternate: #c4dfe6;
  --color-accent-maroon: #a83850;
  --color-background-blank: #fff;
  --color-background-header: var(--color-primary);
  --color-background-outside: white;
  --color-button: var(--color-primary);
  --color-always-white: white;
  --color-text-main: black;
  --color-accent-gray: #ccc;
  --color-danger: red;
}

:root .theme-dark {
  --color-primary: #323;
  --color-background-alternate: #202a3a;
  --color-accent-maroon: #c18ca0;
  --color-background-blank: #2f3e50;
  --color-background-header: #2f4355;
  --color-background-outside: #131921;
  --color-button: #4897d9;
  --color-text-main: white;
  color: white;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

#app {
  width: 800px;
  margin: 20px auto 20px auto;
}

main,
header {
  padding: 20px;
}

header {
  background: var(--color-background-header);
  color: var(--color-always-white);
  min-height: 200px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

header h1 {
  font-family: "Rammetto One", cursive;
  font-size: 26px;
  float: left;
}

header .cart {
  float: right;
  overflow: hidden;
}

main {
  background: var(--color-background-alternate);
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

header h2 {
  text-align: center;
}

.product {
  background: var(--color-background-blank);
  padding: 14px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  position: relative;
}

h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.product p {
  margin-bottom: 3px;
}

.product .price {
  color: var(--color-accent-maroon);
}

.product .quantity.none-left {
  color: red;
}

.product .edit-form,
.add-form {
  margin-top: 20px;
  border-top: 1px solid var(--color-accent-gray);
  padding-top: 10px;
}

.input-group {
  padding: 5px 0 5px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 5px 12px 5px;
  background: var(--color-button);
  color: var(--color-always-white);
  border-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
}

.checkout {
  background: var(--color-always-white);
  color: var(--color-primary);
  margin-top: 20px;
  float: right;
}

button:disabled {
  background: var(--color-accent-gray);
  color: var(--color-background-blank);
  cursor: auto;
}

.actions {
  margin-top: 20px;
}

.product .delete-button {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--color-danger);
  color: var(--color-always-white);
  padding: 0;
  cursor: pointer;
}

form {
  width: 400px;
}

.input-group input {
  float: right;
}

.input-group label {
  margin-right: 10px;
}

input[type="text"] input[type="number"] {
  padding: 3px 2px;
  width: 150px;
  height: 15px;
}

input[type="text"]:focus input[type="number"]:focus {
  outline: none;
  border-color: var(--color-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.add-form h3 {
  display: block;
}

.add-product-button {
  display: block;
}

/* .add-form h3,
.add-form form {
  display: none;
}

.add-form.visible .add-product-button {
  display: none;
}

.add-form.visible h3,
.add-form.visible form {
  display: block;
} */

table td,
th {
  text-align: center;
  padding: 0 10px;
}

table td.total {
  text-align: right;
  padding-top: 20px;
}

/* sorting controls */

.product-listing-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-control {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}

.sort-button {
  border-width: 1px;
  background: transparent;
  color: var(--color-button);
  border-color: var(--color-button);
}

.sort-button.active {
  background: var(--color-button);
  color: var(--color-always-white);
  border-color: transparent;
}

/* context controls */
.header-controls {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 10px;
}

.header-controls button {
  background: transparent;
  border-width: 1px;
  border-color: var(--color-always-white);
}
